<div class="card" style="width: 18rem">
  <img src="https://resources.pulse.icc-cricket.com/photo-resources/2022/11/05/e61cd1f0-23de-46f7-afd4-07ea4004e3a5/Kohli-smile.jpg?width=985&height=580" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
